body{
  background-color: #B0B768;
}

#result {
  color: white;
  font-size: 18px;
  }

#Luz1 {
  height: 230px;
  width: 25%;
}

#Luz2 {
  height: 230px;
  width: 25%;
}

#Luz3 {
  height: 230px;
  width: 25%;
}

#Luz4 {
  height: 230px;
  width: 25%;
}

#Luz5 {
  height: 230px;
  width: 25%;
}

#Luz6 {
  height: 230px;
  width: 25%;
}